.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
}

.Logo {
    margin-right: 15px;
    padding: 0 13px;
    font-size: 22px;
    background: #eceff1;
    font-family: "Roboto";
    height: 100%;
    display: flex;
}

.Logo a {
    text-decoration: none;
    align-self: center;
    color: black;
    font-family: "Roboto" , sans-serif;
}

.pallete-slider {
    display: inline-block;
    width: 300px;
    margin: 0 10px;
}

.rc-slider-track {
    background: transparent;    
}

.rc-slider-rail {
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus
 {
    background: green;
    outline: none;
    border: 2px solid green;
    box-shadow: none;
    width: 13px;
    height: 13px;
    margin-left: -7px;
    margin-top: -3px;
}